:root {
  --dark: #111;
  --gray: #464646;
}

body {
font-family: 'Poppins', sans-serif;  overflow-x: hidden;
}

.dev-name {
  color: var(--dark);
}

header {
  min-width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.nav-list {
  display: flex;
  list-style-type: none;
  gap: 20px;
  font-size: 12px;
}

.nav-link {
  text-decoration: none;
  color: var(--gray);
}

.hero-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.profile-pic {
  width: 490px;
  border-radius: 30px;
}

.about-container {
  width: 650px;
  padding: 10px 80px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 237, 171, 0.594);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.about-container h1 {
  font-size: 60px;
  letter-spacing: -2px;
  color: var(--dark);
  margin: 30px 0 10px 0;
}

.about-container p {
  font-size: 12px;
  color: var(--gray);
}
